/* CustomerList.css */

.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.customer-card {
  padding: 16px 24px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.customer-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;

  width: 100px;
  height: 75px;
  object-fit: cover;
}

.customer-card h3.ant-typography {
  margin: 0;
  text-transform: uppercase;
}

.customer-card p {
  margin: 5px 0;
}

.customer-info {
  width: 100%;
}
.customer-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
